<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
    <div class="container">
        <div class="jumbotron">
            <h1>Kotljarevski</h1>
            <p1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC</p1>
            
            <hr class="m-y-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">About</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Contact</a>
            </p>
            
            
        </div>
        
    </div>
     
  
</body>
</html>


