<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
        @RenderBody()
        <div class="container">
        <footer>
            (c) Kotljarevski,Sebastian. T4
        </footer>
        </div>
</body>
</html>


